@media (max-width: 576px) {
  nav .container{
    width:100%;
  }
  .myp
  {
    font-size:2rem;
  }
}
@media (min-width: 576px) {
.myp{
  font-size:4rem;
}
}
.hub
{
color:orange;
padding:5px;
border:3px solid orange;
}
blockquote{
  border-color: #121212 !important;
}
.trending-articles
{
  overflow:auto;
  height:21rem;
}
.fa-facebook-official:hover {
  color: red;
}
.fa-google-plus:hover {
  color: red;
}
.fa-quora:hover {
  color: red;
}
.fa-twitter:hover {
  color: red;
}
.fa-facebook-official {
  color: black;
}
.fa-google-plus {
  color: black;
}
.fa-quora {
  color: black;
}
.fa-twitter {
  color: black;
}
